<a href='#/edit/{{id}}' class='btn edit'><span>Edit</span></a>
<a href='#/play/{{id}}'>
  <img alt='{{name}}' src='{{miniature}}'>
  <div>
      <p>{{name}}</p>
      <p>{{creationDate}}</p>
  </div>
</a>
